<h1>Stupid Coaching</h1>

<div class="block block-question">
  <h2><%= @question %></h2>
  <p>-You</p>
</div>

<div class="block block-answer">
  <h2><%= @answer %></h2>
  <p>-Your Coach</p>
</div>


<div class="link"><%= link_to "Back", ask_path %></div>
